---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  <div class="pub-toolbar">
    <a class="home-button primary" href="{{site.author.googlescholar}}"><i class="ai ai-google-scholar"></i> Google Scholar</a>
    <a class="home-button" href="https://dblp.org/pid/63/11345-6"><i class="fa-solid fa-database"></i> DBLP</a>
  </div>
{% endif %}

<section class="pub-section">
  <ol class="pub-list">
    {% for pub in site.data.publications %}
      {% include publication-card.html pub=pub %}
    {% endfor %}
  </ol>
</section>
