---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


1. Haotian Wang, Wangdong Yang, Rong Hu, Renqiu Ouyang, Kenli Li, Keqin Li. A Novel Parallel Algorithm for Sparse Tensor Matrix Chain Multiplication via TCU-acceleration[J]. IEEE Transactions on Parallel and Distributed Systems, 2023, 34(8): 2419-2432. (第一作者，JCR 1区，SCI 2区，CCF A类期刊，IF：5.3) 
2. Wang, H., Ding, Y., Liu, Y., Liu, W., Liu, C., Yang, W.,  Li, K. (2024). A Context-Awareness and Hardware-Friendly Sparse Matrix Multiplication Kernel for CNN Inference Acceleration. IEEE Transactions on Computers, (01), 1-14. (第一作者，JCR 1区，SCI 2区，CCF A类期刊，IF：3.6)
3. Haotian Wang, Wangdong Yang, Rong Hu, Renqiu Ouyang, Kenli Li, Keqin Li. IAP-SpTV: An Input-aware Adaptive Pipeline SpTV via GCN on CPU-GPU[J]. Journal of Parallel and Distributed Computing, 2023, 181C:104741. (第一作者，JCR 1区，SCI 2区，CCF B类期刊，IF：3.8)
4. Haotian Wang, Wangdong Yang, Renqiu Ouyang, Rong Hu, Kenli Li, Keqin Li. A Heterogeneous Parallel Computing Approach Optimizing SpTTM on CPU-GPU via GCN[J]. ACM Transactions on Parallel Computing, 2023, 10(2): 1-23. (第一作者，IF：1.6)
5. Haotian Wang, Huigui Rong, Qun Zhang, Daibo Liu, Chunhua Hu, Yupeng Hu. Good or Mediocre? A Deep Reinforcement Learning Approach for Taxi Revenue Efficiency Optimization[J]. IEEE Transactions on Network Science and Engineering, 2020, 7(4): 3018-3027. (第一作者，JCR 1区，SCI 3区，IF：6.6)
6. Hu, R., Wang, H., Yang, W., Ouyang, R., Li, K., & Li, K. (2024). BCB-SpTC: An Efficient Sparse High-Dimensional Tensor Contraction Employing Tensor Core Acceleration. IEEE Transactions on Parallel & Distributed Systems, 35(12), 2435-2448.(共同第一作者，JCR 1区，SCI 2区，CCF A类期刊，IF：5.3) 
7. 阳王东, 王昊天, 张宇峰, 林圣乐, 蔡沁耘. 异构混合并行计算综述[J]. 计算机科学, 2021, 48(12): 24-28.（第二作者，CSCD收录，CCF B类中文期刊）
8. Lin, S., Yang, W., Wang, H., Tsai, Q., & Li, K. (2021, November). STM-multifrontal QR: streaming task mapping multifrontal QR factorization empowered by GCN. In Proceedings of the International Conference for High Performance Computing, Networking, Storage and Analysis (pp. 1-14).（第三作者，CCF A类会议）
9. Dong, F., Xiao, G., Wang, H., Hu, Y., Li, K., & Yang, W. (2024, June). TAPMM: A Traffic-Aware Page Mapping Method for Multi-level NUMA Systems. In Proceedings of the 61st ACM/IEEE Design Automation Conference (pp. 1-6).（第三作者，CCF A类会议）
10. Ouyang, R., Hu, Y., Wang, H., Hu, R., Yang, W., & Li, K. (2025). A Novel Completion Method for Sparse Traffic Data Imputation. IEEE Intelligent Transportation Systems Magazine.
11. Zhou, J., Yang, W., Dai, M., Cai, Q., Wang, H., & Li, K. (2021, November). Parallel Sparse LU Factorization with Machine-Learning Method on Multi-core Processors. In 2021 7th International Conference on Systems and Informatics (ICSAI) (pp. 1-11). IEEE.
12. 胡蓉, 阳王东, 王昊天, 罗辉章, & 李肯立. (2021). 基于 GPU 加速的并行 WMD 算法. 计算机科学.
13. Lin, S., Yang, W., Hu, Y., Cai, Q., Dai, M., Wang, H., & Li, K. (2024). HPS cholesky: Hierarchical parallelized supernodal cholesky with adaptive parameters. ACM Transactions on Parallel Computing, 11(1), 1-22.


<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



