<li>
  <article class="pub-item">
    {% if include.pub.tags %}
      <div class="pub-meta">
        {% for tag in include.pub.tags %}
          <span>{{ tag }}</span>
        {% endfor %}
      </div>
    {% endif %}
    <h3>{{ include.pub.title }}</h3>
    {% if include.pub.original_title %}
      <p class="original-title">Original title: {{ include.pub.original_title }}</p>
    {% endif %}
    <p>{{ include.pub.authors }}. <em>{{ include.pub.venue }}</em>{% if include.pub.details %}, {{ include.pub.details }}{% endif %}.</p>
    {% if include.pub.original_venue %}
      <p class="original-title">Original venue: {{ include.pub.original_venue }}</p>
    {% endif %}
  </article>
</li>
